<ion-header>
  <ion-toolbar>
    <ion-buttons class="back-button" slot="start">
      <ion-back-button defaultHref="" (click)="back()" text="Retour"></ion-back-button>
    </ion-buttons>
    <img class="smallLogo" src="assets/resources/logo_letters.svg"/>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <h2>Booking Details</h2>
        <hr>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">

        <ion-item>
          <ion-label position="floating">Restaurant</ion-label>
          <ion-input value="{{ booking.name_rest }}" readonly> </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Service</ion-label>
          <ion-input value="{{ booking.turns }}" readonly> </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Couverts</ion-label>
          <ion-input value="{{ booking.commensals }}" readonly> </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Statut</ion-label>
          <ion-input value="{{ booking.pending_text }}" readonly> </ion-input>
        </ion-item>

        <ng-container *ngIf="booking.id_user">
        <ion-item>
          <ion-label position="floating">Client Nom</ion-label>
          <ion-input value="{{ booking.user_name }}" readonly> </ion-input>
        </ion-item>

        <ion-item *ngIf="booking.user['last_name'] != 'null' && booking.user['last_name']">
          <ion-label position="floating">Client Nom de famille</ion-label>
          <ion-input value="{{ booking.user['last_name'] }}" readonly> </ion-input>
        </ion-item>

        <ion-item *ngIf="booking.user['phone_number']">
          <ion-label position="floating">Téléphone</ion-label>
          <ion-input value="{{ booking.user['phone_number'] }}" readonly> </ion-input>
        </ion-item>
      </ng-container>

      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center" *ngIf="hasArrived">
      <ion-col size="11">
        <ion-button expand="block" (click)="_hasArrived()">EST ARRIVÉ</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center" *ngIf="hasPending">
      <ion-col size="11">
        <ion-button expand="block" (click)="deleteBooking()">SUPPRIMER</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
