<ion-header>
  <ion-toolbar>
    <ion-buttons class="back-button" slot="start">
      <ion-back-button defaultHref="" (click)="back()"></ion-back-button>
    </ion-buttons>
    <img class="smallLogo" src="assets/resources/logo_letters.svg"/>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <h2>Booking Details</h2>
        <hr>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">

        <ion-item>
          <ion-label position="floating">Restaurant</ion-label>
          <ion-input value="{{ booking.name_rest }}" readonly> </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Time</ion-label>
          <ion-input value="{{ booking.time_trame }}" readonly> </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Commensals</ion-label>
          <ion-input value="{{ booking.commensals }}" readonly> </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Pending</ion-label>
          <ion-input value="{{ booking.pending }}" readonly> </ion-input>
        </ion-item>

        <ng-container *ngIf="booking.id_user">
        <ion-item>
          <ion-label position="floating">Associated User</ion-label>
          <ion-input value="{{ booking.user_name }}" readonly> </ion-input>
        </ion-item>
      </ng-container>

      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center" *ngIf="hasArrived">
      <ion-col size="11">
        <ion-button expand="block" (click)="_hasArrived()">HAS ARRIVED</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
