<ion-header>
  <ion-toolbar>
    <ion-buttons class="back-button" slot="start">
      <ion-back-button defaultHref="" (click)="back()"></ion-back-button>
    </ion-buttons>
    <img class="smallLogo" src="assets/resources/logo_letters.svg"/>
    <ion-buttons class="profile-button" slot="end">
      <ion-icon class="profile-icon" (click)="profile()" name="person-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button (click)="ShareWhatsapp()"><ion-icon name="share-social-outline" class="fab-green"></ion-icon></ion-fab-button>
  </ion-fab>

  <ion-grid *ngIf="restaurant">
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <h1 class="title-restaurant">{{ restaurant.name}}</h1>

        <ion-slides pager>
          <ion-slide *ngFor="let item of restaurant.images">
            <app-animated-like [id_user]="id_user" [id_rest]="id_rest" [mode]="restaurant" class="icon-like"></app-animated-like>
            <div class="slide">

              <img class="img-restaurants" src="https://panel.booktable.app/storage/{{ item }}"/>
              
            </div>
          </ion-slide>
        </ion-slides>

        <p class="description-restaurant">
          {{restaurant.description}}
        </p>

        <p class="description-restaurant">
          {{restaurant.address}}
        </p>

        <ion-item class="item-icon">
          <ng-container *ngIf="_haveBooking">
            <span style="font-size: 18px;"> <strong> {{_haveBooking}} </strong></span>
            <ion-icon src="assets/icon/commensals.svg" class="icons-item"></ion-icon>
          </ng-container>

          <ng-container *ngIf="_haveBooking">
            ·
          </ng-container>
          <ion-icon src="assets/icon/1_euro.svg" class="icons-item" *ngIf="restaurant.economy > 0"></ion-icon>
          <ion-icon src="assets/icon/1_euro.svg" class="icons-item" *ngIf="restaurant.economy > 1"></ion-icon>
          <ion-icon src="assets/icon/1_euro.svg" class="icons-item" *ngIf="restaurant.economy > 2"></ion-icon>
          <ion-icon src="assets/icon/1_euro.svg" class="icons-item" *ngIf="restaurant.economy > 3"></ion-icon>
          <ng-container *ngIf="restaurant.michelin_starts > 0">
            ·
          </ng-container>
          <ion-icon src="assets/icon/1_star.svg" class="icons-item" *ngIf="restaurant.michelin_starts > 0"></ion-icon>
          <ion-icon src="assets/icon/1_star.svg" class="icons-item" *ngIf="restaurant.michelin_starts > 1"></ion-icon>
          <ion-icon src="assets/icon/1_star.svg" class="icons-item" *ngIf="restaurant.michelin_starts > 2"></ion-icon>
          <ion-icon src="assets/icon/1_star.svg" class="icons-item" *ngIf="restaurant.michelin_starts > 3"></ion-icon>

        </ion-item>

        <ion-list class="margin">

          <ion-item>
            <a (click)="openMenu()" class="link-menu">
              <ion-icon name="restaurant-outline" class="icons-green" item-start></ion-icon>
              <ion-label class="btn-title-menu" floating> <i> Show Menu </i></ion-label>
            </a>
          </ion-item>
      
        </ion-list>


        <ion-button *ngIf="_haveBooking" expand="block" class="btn-reserve" (click)="createListBooking()">
          BOOKING
        </ion-button>

      </ion-col>
  
    </ion-row>


    <ion-row>
      <ion-col>
        <div class="map" *ngIf="avaibleMap">
      
          <agm-map
          id="agmMap"
          #agmMap
          [style.height.px]="height"
          [latitude]="lat"
          [longitude]="lng"
          [zoom]="13">
      
          <agm-marker 
            [latitude]="lat" 
            [longitude]="lng" 
            [iconUrl]="{
              url: './assets/icon/loc_map.svg',
              scaledSize: {
                  width: 20,
                  height: 30
              }
            }">
          </agm-marker>
      
          </agm-map>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
