<ion-header>
  <ion-toolbar>
    <ion-buttons class="back-button" slot="start" >
      <ion-back-button defaultHref="/home/tabs/booking-system" text="Retour"></ion-back-button>
    </ion-buttons>
    <img class="smallLogo" src="assets/resources/logo_letters.svg"/>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="myRest"> 
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <h2>Ajouter une table</h2>
        <hr>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">

        <ion-item>
          <ion-label position="stacked">Restaurant</ion-label>
          <ion-input mode="ios" readonly>{{ myRest.name }}</ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Service</ion-label>
          <ion-select okText="Ok" cancelText="Annuler" [(ngModel)]="postData.turn">
            <ng-container *ngFor="let item of arrayTurns">
              <ion-select-option value="{{item.turn}}">{{ item.turn_text }}</ion-select-option>
            </ng-container>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Couverts</ion-label>
          <ion-select okText="Ok" cancelText="Annuler" [(ngModel)]="postData.commensals" required>
            <ng-container *ngFor="let item of arrayCouverts">
              <ion-select-option value="{{item}}">{{ item }}</ion-select-option>
            </ng-container>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-wrap">Vendre UNIQUEMENT la table entière</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="postData.divisible"></ion-checkbox>
        </ion-item>

      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <ion-button expand="block" (click)="createBooking()">Ajouter</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
