
<ion-content fullscreen class="ion-padding background-page">
  <ion-grid>
      <ion-row class="ion-justify-content-center">
          <ion-col size="10" class="center-col">
              <div class="center">
                  <img src="assets/resources/logo.svg" class="smallLogo"/>
              </div>
              <ion-list lines="none" class="item-login">
                  <ion-item>
                      <ion-input class="input-field-login" placeholder="Email" autocomplete="off" type="email" name="email" [(ngModel)]="postData.email"></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-input class="input-field-login" placeholder="Mot de passe" autocomplete="off" [type]="showPassword ? 'text' : 'password'" clearOnEdit="false" name="password" [(ngModel)]="postData.password"></ion-input>
                      <button class="btn_eye_icon" (click)="onPasswordToggle()" ion-button clear item-end icon-only>
                          <ion-icon [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
                        </button>
                  </ion-item>
              </ion-list>
              <ion-button class="btn-login" expand="block" (click)="loginAction()">Connexion</ion-button>
              <ion-button class="btn-login-facebook ion-text-wrap" expand="block" (click)="loginWithFacebook()" ion-button icon-end>Se connecter avec Facebook <ion-icon name="logo-facebook" style="margin-left: 5px;"></ion-icon></ion-button>
              <ion-button class="btn-sign" expand="block" (click)="registerAction()">Créer un compte</ion-button>
              <ion-button class="btn-resetpassword" expand="block" (click)="businessAction()" >Créer un compte Restaurant</ion-button>
              <p class="btn-business" (click)="resetpasswordAction()">Vous avez oublié votre mot de passe ?</p>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>