<ion-header>
  <ion-toolbar>
    <img class="smallLogo" src="assets/resources/logo_letters.svg"/>
    <ion-buttons class="profile-button" slot="end">
      <ion-icon class="profile-icon" (click)="profile()" name="person-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid class="searchbar-grid">
    <ion-row class="ion-justify-content-center searchbar">
      <ion-col size="12" class="center-col searchbar-col">
        <ion-searchbar mode="ios" class="searchbar-button" placeholder="Nom du restaurant" animated showCancelButton="never" (click)="openModal()"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">

        <!-- Scrollable Segment -->
        <ion-segment [(ngModel)]="segment" mode="ios" (ionChange)="tabChange(segment)">
          <ion-segment-button value="proximity" (click)="refreshProximity()">
            <ion-icon name="compass-outline" class="icons-green"></ion-icon>
            A proximité
          </ion-segment-button>
          <ion-segment-button value="filter">
            <ion-icon name="search-outline" class="icons-green"></ion-icon>
            Filtre
          </ion-segment-button>
        </ion-segment>

      </ion-col>
    </ion-row>
  </ion-grid>

        <div [ngSwitch]="segment">

          <div *ngSwitchCase="'proximity'">

            <ion-grid *ngIf="avaibleMap">
              <ion-row class="ion-justify-content-center">
                <ion-col size="12">
                  
                  <ion-list>
                    <ion-item>
                      <ion-icon name="compass-outline" class="icons-green" item-start></ion-icon>
                      <ion-label floating>
                        Dans un rayon de
                      </ion-label>
                      <ion-select mode="ios" [(ngModel)]="radiusGPS" (ionChange)="optionsFn(radiusGPS)" interface="action-sheet" placeholder="500m - 20km" cancelText="Annuler">
                        <ion-select-option value="500">500m</ion-select-option>
                        <ion-select-option value="1000">1km</ion-select-option>
                        <ion-select-option value="5000">5km</ion-select-option>
                        <ion-select-option value="10000">10km</ion-select-option>
                        <ion-select-option value="20000">20km</ion-select-option>
                        <ion-select-option value="50000">50km</ion-select-option>
                      </ion-select>
                    </ion-item>
                  
                  </ion-list>
                </ion-col>
              </ion-row>
            </ion-grid>
          
            <ion-grid class="map-container">
          
               <agm-map
                id="agmMap"
                *ngIf="avaibleMap"
                #agmMap
                [style.height.px]="300"
                [latitude]="coordLatitude"
                [longitude]="coordLongitude"
                [zoom]="zoom"
                (zoomChange)="onZoomChange($event)">
          
                  <agm-marker 
                    [latitude]="coordLatitude" 
                    [longitude]="coordLongitude" 
                    [iconUrl]="{
                      url: './assets/icon/loc_dot.svg',
                      scaledSize: {
                          width: 10,
                          height: 10
                      }
                    }"></agm-marker>
          
                        <ng-container *ngFor="let m of restaurants; let i = index">
          
                          <agm-marker 
                            (markerClick)="clickedMarker(m.name, i)" 
                            [latitude]="m.coords[0].lat" 
                            [longitude]="m.coords[0].lng" 
                            [iconUrl]="{
                                url: './assets/icon/loc_map.svg',
                                scaledSize: {
                                    width: 20,
                                    height: 30
                                }
                              }" 
                          *ngIf="m.isShown">
                  
                              <agm-info-window>
                                  <div><img src="https://panel.booktable.app/storage/{{ m.images[0] }}" width="150" height="90" /></div>
                                  <div class="title-infowindow">{{m.name}}</div>
                              </agm-info-window>
                  
                          </agm-marker>
                  
                      </ng-container>
          
                  <agm-circle [latitude]="radiusLat" [longitude]="radiusLong" [radius]="radius" [fillColor]="'#00BA5C'"> </agm-circle>
          
              </agm-map>
          
            </ion-grid>
            <ion-grid *ngIf="avaibleMap">

              <ng-container *ngFor="let m of restaurants">

              <ion-card *ngIf="m.isShown">
                <ion-card-header>
                  <app-animated-like [like]="m.like" [id_user]="id_user" [id_rest]="m.id"></app-animated-like>
                  <img class="img-restaurants" src="https://panel.booktable.app/storage/{{ m.images[0] }}" (click)="viewRestaurant(m)"/>
                  <ion-card-title class="title-card-featured">{{ m.name }}
                    <ion-icon src="assets/icon/1_star.svg" class="icons-green-item" *ngIf="m.michelin_starts > 0"></ion-icon>
                      <ion-icon src="assets/icon/1_star.svg" class="icons-green-item" *ngIf="m.michelin_starts > 1"></ion-icon>
                      <ion-icon src="assets/icon/1_star.svg" class="icons-green-item" *ngIf="m.michelin_starts > 2"></ion-icon>
                      <ion-icon src="assets/icon/1_star.svg" class="icons-green-item" *ngIf="m.michelin_starts > 3"></ion-icon>
                  </ion-card-title>
                </ion-card-header>
              
                <ion-card-content>
                  {{ m.city }}
                    <br>
                    <ng-container *ngIf="m.bib_gourmand > 0 && m.michelin_starts > 0">
                      ·
                    </ng-container>
                    <ion-icon src="assets/icon/icon_michelin.svg" class="icons-green" *ngIf="m.bib_gourmand > 0"></ion-icon>
                    <ion-icon src="assets/icon/icon_michelin.svg" class="icons-green" *ngIf="m.bib_gourmand > 1"></ion-icon>
                    <div class="icons-card">
                      <ion-icon *ngIf="m.day_commensals" src="assets/icon/commensals.svg" class="icons-green"></ion-icon>
                      <span *ngIf="m.day_commensals>0" class="text-commensals" style="font-size: 18px;"> <strong>&nbsp; Midi: </strong></span>
                      <span *ngIf="m.day_commensals" class="text-commensals" style="font-size: 18px;"> <strong> {{m.day_commensals}} </strong></span>
                      <ng-container *ngIf="m.night_commensals && m.day_commensals">
                        /
                      </ng-container>
                      <ion-icon *ngIf="m.night_commensals" src="assets/icon/commensals.svg" class="icons-green"></ion-icon>
                      <span *ngIf="m.night_commensals>0" class="text-commensals" style="font-size: 18px;"> <strong>&nbsp; Soir: </strong></span>
                      <span *ngIf="m.night_commensals" class="text-commensals" style="font-size: 18px;"> <strong> {{m.night_commensals}} </strong></span>
                    </div>
                    <div class="button-card">
                      <ion-row>
                        <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="6">
                          <ion-button *ngIf="m.disponible" expand="block" class="btn-reserve" (click)="goToBooking(m)">
                            Réserver
                          </ion-button>
                        </ion-col>
                        <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="6">
                          <ion-button expand="block" class="btn-info" (click)="viewRestaurant(m)">
                            Info & Menu
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </div>           
                </ion-card-content>
              </ion-card>


              </ng-container>

            </ion-grid>

          </div>
        
          <div *ngSwitchCase="'filter'">

            <ion-grid>
              <ion-row class="ion-justify-content-center">
                <ion-col size="12">
          
                  <ion-list>

                    <!-- <ion-item>
                      <ion-icon name="restaurant-outline" class="icons-green" item-start></ion-icon>
                      <ion-label floating>
                        Nombre de couverts
                      </ion-label> 
                      <!-- [(ngModel)]="commensals" (ionChange)="optionsCommensals(commensals)" -->
                      <!-- <ion-select value="any" mode="ios"  [interfaceOptions]="customActionSheetOptions" interface="action-sheet" cancelText="Annuler" >
                        <ion-select-option value="any">Peu importe</ion-select-option>
                        <ion-select-option value="1">1</ion-select-option>
                        <ion-select-option value="2">2</ion-select-option>
                        <ion-select-option value="3">3</ion-select-option>
                        <ion-select-option value="4">4</ion-select-option>
                        <ion-select-option value="5">5+</ion-select-option>
                      </ion-select>
                    </ion-item> -->

                    <ion-item>
                      <ion-icon name="earth-outline" class="icons-green" item-start></ion-icon>
                      <ion-label class="label-wishlist" floating>
                        Ville
                      </ion-label>
                      <ion-select mode="ios" [(ngModel)]="city" (ionChange)="optionsCity(city)" interface="action-sheet" cancelText="Annuler">
                        <ng-container *ngFor="let item of cities">
                          <ion-select-option value="{{item.city}}">{{ item.city }}</ion-select-option>
                        </ng-container>
                      </ion-select>
                    </ion-item>

                    <ion-item>
                      <ion-icon name="bookmarks-outline" class="icons-green" item-start></ion-icon>
                      <ion-label floating>
                        Type de cuisine
                      </ion-label>
                      <ion-select mode="ios" [(ngModel)]="topics" (ionChange)="optionsTopics(topics)" interface="action-sheet" cancelText="Annuler">
                        <ion-select-option value="all">Tous</ion-select-option>
                        <ion-select-option value="belge">Belge</ion-select-option>
                        <ion-select-option value="française">Française</ion-select-option>
                        <ion-select-option value="gastronomique">Gastronomique</ion-select-option>
                        <ion-select-option value="italienne">Italienne</ion-select-option>
                        <ion-select-option value="asiatique">Asiatique</ion-select-option>
                        <ion-select-option value="terroir">Terroir</ion-select-option>
                        <ion-select-option value="brasserie">Brasserie</ion-select-option>
                        <ion-select-option value="fusion">Fusion</ion-select-option>
                        <ion-select-option value="exotique">Exotique</ion-select-option>
                      </ion-select>
                    </ion-item>

                    <ion-item>
                      <ion-icon name="heart-outline" class="icons-green" item-start></ion-icon>
                      <ion-label floating class="ion-text-wrap">Montrer uniquement mes favoris?</ion-label>
                      <ion-checkbox slot="end" [(ngModel)]="postData.favorites" mode="ios" checked="false"></ion-checkbox>
                    </ion-item>

                    <ion-item>
                      <ion-icon src="assets/icon/icon_michelin.svg" class="icons-green" item-start></ion-icon>
                      <ion-label floating>Bib gourmand</ion-label>
                      <ion-checkbox slot="end" [(ngModel)]="postData.bib_gourmand" mode="ios" checked="false"></ion-checkbox>
                    </ion-item>

                    <ion-item>
                      <ion-icon src="assets/icon/1_star.svg" class="icons-green" item-start></ion-icon>
                      <ion-label floating>Michelin</ion-label>
                      <ion-checkbox slot="end" [(ngModel)]="postData.michelin" mode="ios" checked="false"></ion-checkbox>
                    </ion-item>
                  
                  </ion-list>
                  <ion-button expand="block" (click)="searchAction()">Recherche</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>

            <ion-grid>

              <ng-container *ngFor="let m of restaurantsFilter">

              <ion-card>
                <ion-card-header>
                  <app-animated-like [like]="m.like" [id_user]="id_user" [id_rest]="m.id"></app-animated-like>
                  <img class="img-restaurants" src="https://panel.booktable.app/storage/{{ m.images[0] }}" (click)="viewRestaurant(m)"/>
                  <ion-card-title class="title-card-featured">{{ m.name }}</ion-card-title>
                </ion-card-header>
              
                <ion-card-content>
                  {{ m.city }}
                    <br>
                    <div class="icons-card">
                      <span *ngIf="m.commensals" style="font-size: 18px;"> <strong> {{m.commensals}} </strong></span>
                      <ion-icon *ngIf="m.commensals" src="assets/icon/commensals.svg" class="icons-green-item"></ion-icon>
                      <ng-container *ngIf="m.michelin_starts > 0">
                      <ion-icon src="assets/icon/1_star.svg" class="icons-green-item" *ngIf="m.michelin_starts > 0"></ion-icon>
                      <ion-icon src="assets/icon/1_star.svg" class="icons-green-item" *ngIf="m.michelin_starts > 1"></ion-icon>
                      <ion-icon src="assets/icon/1_star.svg" class="icons-green-item" *ngIf="m.michelin_starts > 2"></ion-icon>
                      <ion-icon src="assets/icon/1_star.svg" class="icons-green-item" *ngIf="m.michelin_starts > 3"></ion-icon>
                      </ng-container>
                      <ng-container *ngIf="m.bib_gourmand > 0 && m.michelin_starts > 0">
                        ·
                      </ng-container>
                      <ion-icon src="assets/icon/icon_michelin.svg" class="icons-green" *ngIf="m.bib_gourmand > 0"></ion-icon>
                      <ion-icon src="assets/icon/icon_michelin.svg" class="icons-green" *ngIf="m.bib_gourmand > 1"></ion-icon>
                      
                    </div>
                    <div class="icons-card">
                      <ion-icon *ngIf="m.day_commensals" src="assets/icon/commensals.svg" class="icons-green"></ion-icon>
                      <span *ngIf="m.day_commensals>0" class="text-commensals" style="font-size: 18px;"> <strong>&nbsp; Midi: </strong></span>
                      <span class="text-commensals" style="font-size: 18px;"> <strong> {{m.day_commensals}} </strong></span>
                      <ng-container *ngIf="m.night_commensals && m.day_commensals">
                        /
                      </ng-container>
                      <ion-icon *ngIf="m.night_commensals" src="assets/icon/commensals.svg" class="icons-green"></ion-icon>
                      <span *ngIf="m.night_commensals>0" class="text-commensals" style="font-size: 18px;"> <strong>&nbsp; Soir: </strong></span>
                      <span class="text-commensals" style="font-size: 18px;"> <strong> {{m.night_commensals}} </strong></span>
                    </div>

                    <div class="button-card" >
                      <ion-row>
                        <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="6">
                          <ion-button *ngIf="m.disponible" expand="block" class="btn-reserve" (click)="goToBooking(m)">
                            Réserver
                          </ion-button>
                        </ion-col>
                        <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="6">
                          <ion-button expand="block" class="btn-info" (click)="viewRestaurant(m)">
                            Info & Menu
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </div>                    
                </ion-card-content>
                
              </ion-card>

              </ng-container>

            </ion-grid>
           
          </div>

        </div>


</ion-content>
