<ion-header>
  <ion-toolbar>
    <img class="smallLogo" src="assets/resources/logo_letters.svg"/>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11" *ngIf="havePaymentMethod == 3">
        <h2>Mes tables disponibles</h2>
        <hr>
      </ion-col>
      <ion-col size="11" *ngIf="havePaymentMethod == 2">
        <h2>Vous devez être abonné à la redevance mensuelle</h2>
        <hr>
        <ion-button (click)="goToPanel()">Dashboard</ion-button>
      </ion-col>
      <ion-col size="11" *ngIf="havePaymentMethod == 1">
        <h2>Entrez un mode de paiement dans le panneau de contrôle</h2>
        <hr>
        <ion-button (click)="goToPanel()">Dashboard</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" *ngIf="havePaymentMethod == 3">
        <ion-list>
          <ion-list-header>
            <ion-label>Date</ion-label>
            <ion-label>Couverts</ion-label>
            <ion-label>Services</ion-label>
            <ion-label>Statut</ion-label>
          </ion-list-header>
          <ng-container *ngFor="let item of myActiveBookings | paginate: { itemsPerPage: 8, currentPage: p2 }">
            <ion-item *ngIf="item.fechaFormat == 1 && item.pending == 0" (click)="modifyBooking(item)" class="item-booking-disabled">
              <ion-label> {{item.created_at | date:'dd/MM/yyyy'}} </ion-label>
              <ion-label> {{item.commensals}} </ion-label>
              <ion-label> {{item.turn_text}} </ion-label>
              <ion-label class="ion-text-wrap"> {{item.pending_text}} </ion-label>
            </ion-item>
            <ion-item *ngIf="item.fechaFormat == 0 && item.pending == 1" (click)="modifyBooking(item)" class="item-booking-pasada">
              <ion-label> {{item.created_at | date:'dd/MM/yyyy'}} </ion-label>
              <ion-label> {{item.commensals}} </ion-label>
              <ion-label> {{item.turn_text}} </ion-label>
              <ion-label class="ion-text-wrap"> {{item.pending_text}} </ion-label>
            </ion-item>
            <ion-item *ngIf="item.pending == 1 && item.fechaFormat == 3" (click)="modifyBooking(item)" class="item-booking-inactive">
                <ion-label> {{item.created_at | date:'dd/MM/yyyy'}} </ion-label>
                <ion-label> {{item.commensals}} </ion-label>
                <ion-label> {{item.turn_text}} </ion-label>
                <ion-label class="ion-text-wrap"> {{item.pending_text}} </ion-label>
            </ion-item>
            <ion-item *ngIf="item.pending == 0 && item.fechaFormat == 0" (click)="modifyBooking(item)" class="item-booking-active">
              <ion-label> {{item.created_at | date:'dd/MM/yyyy'}} </ion-label>
              <ion-label> {{item.commensals}} </ion-label>
              <ion-label> {{item.turn_text}} </ion-label>
              <ion-label class="ion-text-wrap"> {{item.pending_text}} </ion-label>
            </ion-item>
          </ng-container>
        </ion-list>
      </ion-col>
    </ion-row>
    <pagination-controls (pageChange)="p2=$event"></pagination-controls> 

    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <ion-button expand="block" *ngIf="havePaymentMethod == 3" (click)="createBooking()">AJOUTER UNE TABLE</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--Active Petitions-->

  <ion-grid *ngIf="haveActivePetitions">
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <h2>Mes demandes de réservation</h2>
        <hr>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="haveActivePetitions">
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item *ngFor="let item of myActivePetitions" (click)="viewPetition(item)">
            <ion-label> 
              <h3><span class="bold-text">ID TABLE:</span> {{item.id_booking}} - <span class="bold-text">Couverts:</span> {{item.commensals}}</h3>
              <h3><span class="bold-text">Heure:</span> {{item.time_trame}}</h3>
              <h4><span class="bold-text">Client:</span> {{item.user.name}} {{item.user.last_name}}</h4>
              <h4><span class="bold-text">Téléphone:</span> {{item.user.phone_number}}</h4>
            </ion-label>
            <ion-icon name="restaurant-outline" slot="end"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Reservas Pasadas-->

  <ion-grid *ngIf="haveLastBookings">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <ion-list>
          <ion-list-header>
            <h2>Dernières réservations</h2>
            <hr>
          </ion-list-header>
          <ion-item *ngFor="let item of myLastBookings">
            <ion-label>
              <h2>{{item.user.name}} {{item.user.last_name}}</h2>
              <h3>{{item.user.phone_number}}</h3>
              <h3>{{item.commensals}} Couverts</h3>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
