
ion-toolbar{
    text-align: center;
    margin: 0 auto;
    --background: #1C2129;
}

ion-title{
    color: #fff;
}

ion-content{
    --background:#fff;
}

ion-back-button{
    color:white;
}

ion-card-header{
    padding: 0;
}

ion-card-title{
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}

ion-item{
    --inner-padding-start:10px;
}

.back-button{
    position: absolute;
}

.smallLogo{
    width: 135px;
    text-align: center;
    margin: 15px;
}