<ion-header>
  <ion-toolbar>
    <img class="smallLogo" src="assets/resources/logo_letters.svg"/>
    <ion-buttons class="profile-button" slot="end">
      <ion-icon class="profile-icon" (click)="profile()" name="person-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <p class="claim-text">Si une table se libère, elle est pour toi !</p>

  <ion-grid *ngIf="lastRestaurants">
    <!--
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="center-col">

        <ion-slides pager>
          <ion-slide *ngFor="let item of restaurants_featured">
            <div class="slide">

              <ion-card>
                <ion-card-header>
                  <app-animated-like [like]="item.like" [id_rest]="item.id"></app-animated-like>
                  <img class="img-restaurants" src="https://panel.booktable.app/storage/{{ item.images[0] }}" (click)="viewRestaurant(item)"/>
                  <ion-card-title class="title-card-featured" (click)="viewRestaurant(item)">{{ item.name }}</ion-card-title>
                </ion-card-header>
              
                <ion-card-content>
                  {{ item.city }}
                </ion-card-content>
              </ion-card>
              
            </div>
          </ion-slide>
        </ion-slides>

      </ion-col>
    </ion-row>
    -->
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <h1 class="title-page">Tables disponibles ce jour </h1>
        <hr>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center" *ngIf="bookingAll">

      <ng-container *ngFor="let m of bookingAll">
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6">

            <ion-card>
              <ion-card-header>
                <app-animated-like [like]="m.like" [id_rest]="m.id"></app-animated-like>
                <img class="img-restaurants" src="https://panel.booktable.app/storage/{{ m.images[0] }}" (click)="viewRestaurant(m)"/>
                <ion-card-title class="title-card-featured">
                  {{ m.name }}
                  <ion-icon src="assets/icon/1_star.svg" class="icons-green" *ngIf="m.michelin_starts > 0"></ion-icon>
                  <ion-icon src="assets/icon/1_star.svg" class="icons-green" *ngIf="m.michelin_starts > 1"></ion-icon>
                  <ion-icon src="assets/icon/1_star.svg" class="icons-green" *ngIf="m.michelin_starts > 2"></ion-icon>
                  <ion-icon src="assets/icon/1_star.svg" class="icons-green" *ngIf="m.michelin_starts > 3"></ion-icon>
                  <ng-container *ngIf="m.bib_gourmand > 0 && m.michelin_starts > 0">
                    ·
                  </ng-container>
                  <ion-icon src="assets/icon/icon_michelin.svg" class="icons-green" *ngIf="m.bib_gourmand > 0"></ion-icon>
                </ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                {{ m.city }}
                  <br>
                  <div class="icons-card">
                    <ion-icon *ngIf="m.day_commensals" src="assets/icon/commensals.svg" class="icons-green"></ion-icon>
                    <span *ngIf="m.day_commensals>0" class="text-commensals" style="font-size: 18px;"> <strong> Midi: </strong></span>
                    <span class="text-commensals" style="font-size: 18px;"> <strong> {{m.day_commensals}} </strong></span>
                    <ng-container *ngIf="m.night_commensals && m.day_commensals">
                      /
                    </ng-container>
                    <ion-icon *ngIf="m.night_commensals" src="assets/icon/commensals.svg" class="icons-green"></ion-icon>
                    <span *ngIf="m.night_commensals>0" class="text-commensals" style="font-size: 18px;"> <strong> Soir: </strong></span>
                    <span class="text-commensals" style="font-size: 18px;"> <strong> {{m.night_commensals}} </strong></span>
                  </div>
                  <div class="buttons btns-centers">

                    <ion-row>
                      <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="6">
                        <ion-button expand="block" class="btn-reserve" (click)="goToBooking(m)">
                          Réserver
                        </ion-button>
                      </ion-col>
                      <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="6">
                        <ion-button expand="block" class="btn-info" (click)="viewRestaurant(m)">
                          Plus d’infos
                        </ion-button>
                      </ion-col>
                    </ion-row>

                  </div>

              </ion-card-content>
            </ion-card>
          
        </ion-col>
      </ng-container>
    </ion-row>

    <ion-row class="ion-justify-content-center" *ngIf="!listEmpty">
      <ion-col size-xs="10" size-sm="10" size-md="10" size-lg="10">
        <div style="text-align: center;">
          <img src="assets/icon/mesa_reservado.svg" width="150" />
        </div>
        <h2 style="text-align: center;color:#656565; font-size: 18px; padding: 0 30px;">Aucune table disponible pour le moment</h2>
      </ion-col>
    </ion-row>

    <!--
    <ion-row class="ion-justify-content-center" *ngIf="bookingsFavsList">
      <ng-container *ngFor="let m of bookingsFavsList">
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6">

          <ion-card>
            <ion-card-header>
              <app-animated-like [like]="m.restaurant.like" [id_rest]="m.restaurant.id"></app-animated-like>
              <img class="img-restaurants" src="https://panel.booktable.app/storage/{{ m.restaurant.images[0] }}" (click)="viewRestaurant(m)"/>
              <ion-card-title class="title-card-featured">
                {{ m.restaurant.name }}
                  <ion-icon src="assets/icon/1_star.svg" class="icons-green" *ngIf="m.restaurant.michelin_starts > 0"></ion-icon>
                  <ion-icon src="assets/icon/1_star.svg" class="icons-green" *ngIf="m.restaurant.michelin_starts > 1"></ion-icon>
                  <ion-icon src="assets/icon/1_star.svg" class="icons-green" *ngIf="m.restaurant.michelin_starts > 2"></ion-icon>
                  <ion-icon src="assets/icon/1_star.svg" class="icons-green" *ngIf="m.restaurant.michelin_starts > 3"></ion-icon>
                  <ng-container *ngIf="m.restaurant.bib_gourmand > 0 && m.restaurant.michelin_starts > 0">
                    ·
                  </ng-container>
                  <ion-icon src="assets/icon/icon_michelin.svg" class="icons-green" *ngIf="m.restaurant.bib_gourmand > 0"></ion-icon>
              </ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              {{ m.restaurant.city }}
                <br>
                <div class="icons-card">
                  <ion-icon *ngIf="m.restaurant.day_commensals" src="assets/icon/commensals.svg" class="icons-green"></ion-icon>
                  <span *ngIf="m.restaurant.day_commensals>0" class="text-commensals" style="font-size: 18px;"> <strong> Midi: </strong></span>
                  <span class="text-commensals" style="font-size: 18px;"> <strong> {{m.restaurant.day_commensals}} </strong></span>
                    <ng-container *ngIf="m.night_commensals">
                      /
                    </ng-container>
                    <ion-icon *ngIf="m.restaurant.night_commensals" src="assets/icon/commensals.svg" class="icons-green"></ion-icon>
                    <span *ngIf="m.restaurant.night_commensals>0" class="text-commensals" style="font-size: 18px;"> <strong> Soir: </strong></span>
                    <span class="text-commensals" style="font-size: 18px;"> <strong> {{m.restaurant.night_commensals}} </strong></span>
                </div>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ng-container>
    </ion-row>
    -->
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <h1 class="title-page">Top restaurants</h1>
        <hr>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center" *ngIf="lastRestaurants">
      
      <ng-container *ngFor="let m of lastRestaurants">
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6">
          
            <ion-card>
              <ion-card-header>
                <app-animated-like [like]="m.like" [id_rest]="m.id"></app-animated-like>
                <img class="img-restaurants" src="https://panel.booktable.app/storage/{{ m.images[0] }}" (click)="viewRestaurant(m)"/>
                <ion-card-title class="title-card-featured">{{ m.name }}</ion-card-title>
                <ion-card-subtitle>TOP: {{ m.top }}</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                {{ m.city }}
                  <br>
                  <div class="icons-card">
                    <ion-icon src="assets/icon/1_star.svg" class="icons-green" *ngIf="m.michelin_starts > 0"></ion-icon>
                    <ion-icon src="assets/icon/1_star.svg" class="icons-green" *ngIf="m.michelin_starts > 1"></ion-icon>
                    <ion-icon src="assets/icon/1_star.svg" class="icons-green" *ngIf="m.michelin_starts > 2"></ion-icon>
                    <ion-icon src="assets/icon/1_star.svg" class="icons-green" *ngIf="m.michelin_starts > 3"></ion-icon>
                    <ng-container *ngIf="m.bib_gourmand > 0 && m.michelin_starts > 0">
                      ·
                    </ng-container>
                    <ion-icon src="assets/icon/icon_michelin.svg" class="icons-green" *ngIf="m.bib_gourmand > 0"></ion-icon>
                    <ion-icon src="assets/icon/icon_michelin.svg" class="icons-green" *ngIf="m.bib_gourmand > 1"></ion-icon>
                  </div>

              </ion-card-content>
            </ion-card>
        </ion-col>
      </ng-container>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <h1 class="title-page">Tous les restaurants</h1>
        <hr>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center" *ngIf="bookingTotal">
      
      <ng-container *ngFor="let m of bookingTotal">
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6">
          
            <ion-card>
              <ion-card-header>
                <app-animated-like [like]="m.like" [id_rest]="m.id"></app-animated-like>
                <img class="img-restaurants" src="https://panel.booktable.app/storage/{{ m.images[0] }}" (click)="viewRestaurant(m)"/>
                <ion-card-title class="title-card-featured">{{ m.name }}</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                {{ m.city }}
                  <br>
                  <div class="icons-card">
                    <ion-icon src="assets/icon/1_star.svg" class="icons-green" *ngIf="m.michelin_starts > 0"></ion-icon>
                    <ion-icon src="assets/icon/1_star.svg" class="icons-green" *ngIf="m.michelin_starts > 1"></ion-icon>
                    <ion-icon src="assets/icon/1_star.svg" class="icons-green" *ngIf="m.michelin_starts > 2"></ion-icon>
                    <ion-icon src="assets/icon/1_star.svg" class="icons-green" *ngIf="m.michelin_starts > 3"></ion-icon>
                    <ng-container *ngIf="m.bib_gourmand > 0 && m.michelin_starts > 0">
                      ·
                    </ng-container>
                    <ion-icon src="assets/icon/icon_michelin.svg" class="icons-green" *ngIf="m.bib_gourmand > 0"></ion-icon>
                    <ion-icon src="assets/icon/icon_michelin.svg" class="icons-green" *ngIf="m.bib_gourmand > 1"></ion-icon>
                  </div>

              </ion-card-content>
            </ion-card>
        </ion-col>
      </ng-container>
    </ion-row>

  </ion-grid>

</ion-content>
